<section>
				<ul class="nav nav-pills">
					<li ng-class="{ active:panel.isSelected(1) }"> 
						<a href ng-click="panel.selectTab(1)">Description</a>
					</li>
					<li ng-class="{ active:panel.isSelected(2) }"> 
						<a href ng-click="panel.selectTab(2)">Specifications</a>
					</li>
					<li ng-class="{ active:panel.isSelected(3) }">
						<a href ng-click="panel.selectTab(3)">Reviews</a>
					</li>
				</ul>
				<div class="panel" ng-show="panel.isSelected(1)">
					<h4>Description</h4>
					<p>{{product.description}}</p>
				</div>
				<div class="panel" ng-show="panel.isSelected(2)">
					<h4>Specifications</h4>
					<h2> {{product.price | currency}} </h2>
				</div>
				<div class="panel" ng-show="panel.isSelected(3)">
					<h4>Reviews</h4>
					{{review.product}}
						<blockquote ng-repeat="review in product.reviews">
							<b>Stars: {{review.stars}}</b>
							{{review.body}}
							<cite>by: {{review.author}}</cite>
						</blockquote>	
					<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
						<blockquote>
							<b>Stars: {{reviewCtrl.review.stars}}</b>
							{{reviewCtrl.review.body}}
							<cite>by: {{reviewCtrl.review.author}}</cite>
						</blockquote>
						<div class="form-group">
						<select ng-model="reviewCtrl.review.stars" class="form-control"  required >
							<option value="1">1 star</option>
							<option value="2">2 stars</option>
							<option value="3">3 stars</option>
							<option value="4">4 stars</option>
							<option value="5">5 stars</option>
						</select>
						</div>
						<div class="form-group">
						<textarea ng-model="reviewCtrl.review.body" class="form-control" required></textarea>
						</div>
						<div class="form-group">
						<label>by:</label>
						<input ng-model="reviewCtrl.review.author" type="email" name="email" class="form-control" required class="ng-dirty ng-invalid" class="ng-dirty ng-valid"/>
						</div>
						<div class="form-group"> reviewForm is {{reviewForm.$valid}}  </div>
						<input type="submit" class="form-control" value="Submit"/ ng-disabled={{!reviewForm.$valid}}>
					</form>
				</div>
</section>